{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'sobre.css'%}">
    <title>Sobre nós</title>
</head>

<body>
    <div class="container">
        <h1>Sobre a Uber Pets</h1>

        <p>O UberPets é um serviço inovador de transporte de animais de estimação, inspirado no famoso aplicativo de
            transporte Uber. Nosso objetivo é oferecer uma solução segura, conveniente e confiável para os donos de pets
            que desejam transportar seus companheiros de forma prática e confortável.</p>

        <p>Com o UberPets, os donos de animais podem solicitar um motorista capacitado e experiente no transporte de
            pets. Nossos motoristas passam por treinamentos específicos para garantir o bem-estar e a segurança dos
            animais durante toda a viagem. Além disso, os veículos utilizados são equipados com recursos especiais para
            tornar o trajeto mais confortável, como assentos especiais para animais de pequeno porte, cintos de
            segurança e espaços amplos para acomodar animais maiores.</p>

        <p>Nosso serviço está disponível em diversas cidades, oferecendo aos donos de pets a comodidade de solicitar um
            transporte dedicado para seus animais sempre que necessário. Seja para levar o seu pet ao veterinário, fazer
            passeios em parques ou qualquer outra situação, o UberPets está pronto para atender às suas necessidades.
        </p>

        <p>Prezamos pela segurança, conforto e bem-estar dos animais, e estamos comprometidos em proporcionar uma
            experiência de transporte única para os nossos clientes. Conte com o UberPets para cuidar do transporte do
            seu pet com todo o carinho e atenção que ele merece!</p>
    </div>

    <footer>
        <p>&copy; 2023 Uberpets - Todos os direitos reservados</p>
    </footer>
</body>

</html>